/* RESET GENERALI */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-height: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}



/* ------------------------------------------ */

/* CLASSES STYLE */

.header{
    background-color: #255EE9;
}

.hero{
    background-color: #255EE9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.bg-white{
    background-color: #FFFFFF;
}

.bg-grey{
    background-color: #F6F6F6;
    padding: 72px 0;
}

.footer{
    background-color: #23272A;
}


.container-main{
    max-width: 800px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.container-main h1{
    font-size: 46px;
    margin-bottom: 2rem;
}

p{
    font-size: 18px;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

section{
    margin: 72px 0;
    min-height: 200px;
}

.spacing-list{
    margin: 0 18px;
}

.item{
    color: #FFFFFF;
}

.spacing-main{
    min-height: 300px;
    padding: 120px 0; 
}

.spacing-article{
    min-height: 300px;
    margin: 36px 0; 
}

.spacing-article h2{
    font-size: 46px;
    margin-bottom: 2rem;
}

/* ----------ELEMENTS-------- */

.logo{
    padding: 0;
    display: inline-block;
}

.rowhead{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowdown{
    font-weight: bold;
    font-size: larger;
    display: inline-block;
}

.row-multicol{
    flex-direction: row;
    min-height: 300px;
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.col4{
    flex-basis: calc((100%/12)*5);
}

.col8{
    flex-basis: calc((100%/12)*7);
}

/* BOTTONI */

button{
    border: 0px solid;
    border-radius: 50rem;
    line-height: 3rem;
    padding: 0 18px;
    font-size:  20px;
    font-weight: 400;
    margin: 0 8px;
}

header .button{
    font-size:  14px;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 14px;
}

.primary{
    background-color: #FFFFFF;
}

.secondary{
    background-color:#23272A;
    color:#FFFFFF;

}

.alternative{
    background-color: #7289DA;

}



/* ----------------- */


/* ----------------------------------------------- */

/* STILE DEBUG */

header{
    padding: 20px;
    background-color:aquamarine;
    min-height: 80px;
}





footer .debug{
    padding: 20px;
    background-color: grey;
    min-height: 300px;
    border: 1px solid black;
}

.debug{
    background-color: rgba(64, 64, 204, 0.522);
    /* padding: 20px; */
    border: 2px dashed red;
}

/* .rowhead{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
   } */


/* .col{
    padding: 12px;
    background-color: rgb(20, 215, 141);
    border: 2px dashed rgb(11, 184, 23);
} */

.nav{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


.col6{
    flex-basis: calc((100%/12)*6);
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}



/* .col3{
    flex-direction: row;
    flex-basis: calc((100%/12)*3);
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
    display: flex;
} */

/* .main-content{
    background-color: blueviolet;
    border: 2px dashed violet;
    min-height: 300px;
    padding: 12px;
} */


.cta{
    min-height: 100px;
}

.cta.row{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

/* .row-multicol{
    flex-direction: row;
    background-color: blueviolet;
    min-height: 300px;
    display: flex;
} */

.cta .col{
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}

.col2{
    flex-basis: calc((100%/12)*2);
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}

/* .col4{
    flex-basis: calc((100%/12)*4);
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
} */

/* .col5{
    flex-basis: calc((100%/12)*5);
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
}

.col7{
    flex-basis: calc((100%/12)*7);
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
} */

/* .col8{
    flex-basis: calc((100%/12)*8);
    background-color: blueviolet;
    border: 2px dashed violet;
    min-height: 300px;
    padding: 12px; 
} */

.col12{
    flex-basis: calc((100%/12)*12);
    padding: 12px;
    background-color: rgb(40, 126, 0);
    border: 2px dashed rgb(63, 255, 5);
}
