/* RESET GENERALI */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-height: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

p{
    font-size: 18px;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

h3{
    font-size: 32px;
}



/* ------------------------------------------ */

/* CLASSES STYLE */

.header{
    background-color: #255EE9;
    padding: 24px;
}

.hero{
    background-color: #255EE9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.bg-white{
    background-color: #FFFFFF;
    padding: 96px 0;
}

.bg-grey{
    background-color: #F6F6F6;
    padding: 72px 0;
    margin-bottom: 0px;
}

.footer{
    background-color: #23272A;
}


.container-main{
    max-width: 800px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.container-main h1{
    font-size: 46px;
    margin-bottom: 2rem;
}


.spacing-article.giustificato {
    text-align: center;
}

section{
    margin: 72px 0;
    min-height: 200px;
}

.spacing-list{
    margin: 0 18px;
}

.item{
    color: #FFFFFF;
}

.spacing-main{
    min-height: 300px;
    padding: 120px 0; 
}

.spacing-article{
    min-height: 300px;
    margin: 36px 0; 
}

.spacing-article h2{
    font-size: 46px;
    margin-bottom: 2rem;
}

.cta{
    height: 4.5rem;
    width: auto;
    background-image: url(../img/stars.svg);
    display: inline-block;
    background-size: contain;
    margin-top: 42px;
}

.last{
    padding-top: 0px;
    margin: 0px;
    min-height: 0px;
}



/* ----------ELEMENTS-------- */

.logo{
    padding: 0;
    display: inline-block;
}

.rowhead{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowdown{
    font-weight: bold;
    font-size: larger;
    display: inline-block;
}

.row-multicol{
    flex-direction: row;
    min-height: 300px;
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.col2{
    flex-basis: calc((100%/12)*2);
}

.col4{
    flex-basis: calc((100%/12)*4);
    padding-right: 96px;
}

.col5{
    flex-basis: calc((100%/12)*5);
}

.col7{
    flex-basis: calc((100%/12)*7);
}

.col12{
    flex-basis: calc((100%/12)*12);
}

/* BOTTONI */

button{
    border: 0px solid;
    border-radius: 50rem;
    line-height: 3.4rem;
    padding: 0 18px;
    font-size:  20px;
    font-weight: 400;
    margin: 0 8px;
}

header .button{
    font-size:  14px;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 14px;
}

.primary{
    background-color: #FFFFFF;
}

.secondary{
    background-color:#23272A;
    color:#FFFFFF;

}

.alternative{
    background-color: #7289DA;
    color: #fff;
    margin: 64px auto;

}


/* FOOTER STYLE */

footer{
    color: #fff;
    padding: 64px 0;
}

.line{
    border-top: 1px solid #7289DA;
    margin-top: 36px;
}

footer ul{
    color: #7289DA;
}

footer li{
    color: #fff;
    margin: 16px 0;
}


footer .rowhead{
    align-items: flex-start ;
    padding-top: 12px;
}

footer h3{
    color: #7289DA;
    margin-bottom: 4px;
}

.rowhead.lingua{
    justify-content: flex-start;
    align-items: center;
}

footer p{
    margin-bottom: 4px;
}

.lingua .col{
    margin-right: 8px;
}

.bandiera{
    max-height: 18px;
}

footer .button{
    font-size:  14px;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 14px;
    margin: 0px;
}



/* ----------------- */


/* ----------------------------------------------- */


